* {
  box-sizing: border-box;
}
:root {
  --size: "0px";
  --color: #24292f;
  --dark-green: #537133;
  --light-yellow: rgb(235, 235, 199);
  --brown: #b58863;
  --white: #f0d9b5;
  --textBrown: #f0d9b5;
  --textWhite: #b68863;
}
body {
  margin: 0;
  flex-direction: column;
  color: white;
  background-color: var(--color);
}

.subtext {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
.board {
  overflow: hidden;
  border-radius: 8px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  background-color: var(--brown);
}
.white {
  background-color: var(--white);
}

.board-grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}
.game-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.board-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-grid {
  display: inline-grid;
  grid-template-columns: repeat(8, var(--size));
  grid-template-rows: repeat(8, var(--size));
  gap: 0px;
}

/* .extra {
  width: 30%;
  height: 100%;
} */
.i-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 150ms;
}
.images {
  width: 75%;
  height: 75%;
}
.tile {
  position: relative;
  cursor: pointer;
}

.tile._1::before {
  content: "1";
  font-size: 14px;
  position: absolute;
  color: var(--textBrown);
  top: 6px;
  left: 6px;
}
.tile._2::before {
  content: "2";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  top: 6px;
  left: 6px;
}
.tile._3::before {
  content: "3";
  position: absolute;
  font-size: 14px;
  color: var(--textBrown);
  top: 6px;
  left: 6px;
}
.tile._4::before {
  content: "4";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  top: 6px;
  left: 6px;
}
.tile._5::before {
  content: "5";
  position: absolute;
  font-size: 14px;
  color: var(--textBrown);
  top: 6px;
  left: 6px;
}
.tile._6::before {
  content: "6";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  top: 6px;
  left: 6px;
}
.tile._7::before {
  content: "7";
  position: absolute;
  font-size: 14px;
  color: var(--textBrown);
  top: 6px;
  left: 6px;
}
.tile._8::before {
  content: "8";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  top: 6px;
  left: 6px;
}
.tile._a::after {
  content: "a";
  position: absolute;
  font-size: 14px;
  color: var(--textBrown);
  bottom: 6px;
  right: 6px;
}
.tile._b::after {
  content: "b";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  bottom: 6px;
  right: 6px;
}

.tile._c::after {
  content: "c";
  position: absolute;
  font-size: 14px;
  color: var(--textBrown);

  bottom: 6px;
  right: 6px;
}
.tile._d::after {
  content: "d";
  position: absolute;
  font-size: 14px;
  color: var(--textWhite);
  bottom: 6px;
  right: 6px;
}
.tile._e::after {
  content: "e";
  position: absolute;
  font-size: 14px;
  bottom: 6px;
  color: var(--textBrown);
  right: 6px;
}
.tile._f::after {
  content: "f";
  position: absolute;
  font-size: 14px;
  bottom: 6px;
  color: var(--textWhite);
  right: 6px;
}
.tile._g::after {
  content: "g";
  position: absolute;
  font-size: 14px;
  bottom: 6px;
  color: var(--textBrown);
  right: 6px;
}
.tile._h::after {
  content: "h";
  position: absolute;
  font-size: 14px;
  bottom: 6px;
  color: var(--textWhite);
  right: 6px;
}
.green.selected {
  background-color: #646d40;
}
.white.selected {
  background-color: #aaa23a;
}

.green.available {
  background-color: #64525b;
  transition: all 0.4s ease;
}
.white.available {
  background-color: #817b84;
  transition: all 0.4s ease;
}
.white.red-available {
  background-color: rgb(235 124 106);
  /* transition: all 0.4s ease-out; */
}
.green.red-available {
  background-color: rgb(212 107 81);
}
.delete {
  animation: delete-el 0.6s ease-out;
}
@keyframes delete-el {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.418);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font: proxima-sans-serif;
  display: none;
}
.alert-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  min-width: 20%;
  width: calc(var(--size) * 4);
  box-shadow: 0px 0px 10px 0px #000000;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  -moz-box-shadow: 0px 0px 10px 0px #000000;
}
.win-msg {
  background: var(--dark-green);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
}
.close-btn {
  background: none;
  outline: none;
  font-size: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  cursor: pointer;
  color: white;
}

.rest-wrapper {
  background: var(--light-yellow);
  width: 100%;
  color: black;
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
}
.win-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 13px;
  padding: 18px 8px;
}
.img {
  width: 45px;
  height: 45px;
}
.btn-wrapper {
  width: 100%;
  display: flex;
}
.restart-btn,
.btn-close {
  width: 100%;
  cursor: pointer;
  background: var(--dark-green);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 8px;
}
.restart-btn {
  border-radius: 0px 0 0 5px;
  margin-right: 1px;
}
.btn-close {
  border-radius: 0 0 5px 0;
}
@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.remove-alert {
  opacity: 0;
  transition: all 0.2s ease;
}
.remove-alert-p {
  animation: remove-al 0.4s ease;
}
.pieces {
  margin: 30px;
  cursor: pointer;
}
@keyframes remove-al {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
.deleted-piece {
  width: 50px;
  height: 50px;
}
.lostDiv {
  display: flex;
  flex-direction: column;
}
.tran-div {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 4rem;
  height: 4rem;
}

.player-container {
  display: flex;
  min-height: 13%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.player-details {
  width: calc(var(--size) * 8);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.black-details {
  align-items: flex-end;
}
.profile-img {
  width: calc(var(--size) / 1.5);
  height: calc(var(--size) / 1.5);
  background: rgb(5, 117, 30);
  border-radius: 50%;
}
.black-img {
  background: black;
}
.white-img {
  background: white;
}
.profile {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.timer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-name {
  padding-left: 10px;
  font-size: 14px;
}
.time {
  margin-top: 40px;
  font-size: 55px;
  /* font-family: Georgia, "Times New Roman", serif; */
  /* font-style: italic; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #3f3d3e;
}
.time.active {
  color: white;
}

.right-panel {
  width: min(1050px, 40%);
  height: 100vh;
  /* margin: 10px; */
  padding: 5px;
  overflow: hidden;
  /* border-radius: 13px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191a1c;
}
.player-details {
  width: 100%;
  height: max-content;
  margin: 10px;
  background: #191a1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.white-player,
.black-player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.black-player {
  align-items: flex-end;
}
.player-image {
  width: min(100%, var(--size));
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
  border-radius: 3px;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.move-details {
  width: 100%;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 900px) {
  .game-container {
    flex-direction: column;
  }
  .board-container {
    height: 100vh !important;
    justify-content: center;
    align-items: center;
  }

  .board {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .right-panel {
    width: 95%;
  }
}
.match-config {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.play-btn,
.restart-button {
  outline: none;
  padding: 16px;
  border: none;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 19px;
  margin: 3px;
  background-color: #24292f60;
  transition: all 0.1s ease-in;
}
.play-btn:hover,
.restart-button:hover {
  background-color: #24292f;
}

.prev-moves {
  background-color: #24292f;
  padding: 9px;
}
.move-details {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.moves-list {
  display: "flex";
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  flex: 1;
  overflow: auto;
}
.move {
  padding: 9px;
}
.move.alt {
  background-color: #24292f60;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #24292f60;
}
::-webkit-scrollbar-thumb:hover {
  background: #24292f;
}
.player-name,
.score {
  color: #3f3d3e;
}

.player-name.active,
.score.active {
  color: white;
}
